<div class="lottie-container">
  <ng-lottie width="300px" height="200px" [options]="options"> </ng-lottie>
</div>

<mat-card class="card-form">
  <mat-card-header class="bg-primary">
    <h1>{{ tech._id ? "Edit" : "Add" }} technology</h1>
  </mat-card-header>
  <mat-card-content>
    <div style="height: 50px">
      <btnPasteJSON (sendItem)="receiveFromClipboard($event)"></btnPasteJSON>
      <button *ngIf="tech._id" (click)="setMakeNew()" class="btn-create-new">
        ¿Create new?
      </button>

      <h4 *ngIf="makeNew && !tech._id" class="badge-tech creating-new-message">
        Creating new tech from JSON
      </h4>
    </div>

    <Alert *ngIf="error" [message]="error" [type]="error"> </Alert>

    <form
      class="common-form"
      style="flex-direction: revert"
      #addTechForm="ngForm"
    >
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            id="techName"
            name="techName"
            placeholder="Enter name here"
            [(ngModel)]="tech.name"
            #name="ngModel"
            required
          />

          <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
            <p *ngIf="name.errors.required">Name is required</p>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select
            name="techType"
            [(ngModel)]="tech.type"
            class="custom-select"
            #type="ngModel"
            required
          >
            <mat-option
              *ngFor="let t of types"
              [value]="t"
              [ngClass]="'tech-' + t"
              style="color: white"
            >
              {{ t[0].toUpperCase() + t.substr(1) }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="type.invalid && (type.dirty || type.touched)">
            <p *ngIf="type.errors.required">Type is required</p>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Icon</mat-label>
          <input
            matInput
            type="text"
            id="techIcon"
            name="techIcon"
            placeholder="Enter icon url here"
            [(ngModel)]="tech.icon"
            #icon="ngModel"
            required
          />

          <mat-error *ngIf="icon.invalid && (icon.dirty || icon.touched)">
            <p *ngIf="icon.errors.required">Icon is required</p>
          </mat-error>
        </mat-form-field>
      </div>
    </form>

    <div class="rowflex">
      <button
        mat-flat-button
        color="accent"
        [disabled]="addTechForm.invalid"
        (click)="saveTech()"
      >
        Save
      </button>
    </div>
  </mat-card-content>
</mat-card>
