<div class="lottie-container">
  <ng-lottie width="300px" height="200px" [options]="options"> </ng-lottie>
</div>

<mat-card class="card-form" style="width: 90vw">
  <mat-card-header class="bg-primary">
    <h1>{{ course._id ? "Edit" : "Add" }} course</h1>
  </mat-card-header>
  <mat-card-content>
    <div style="height: 50px">
      <btnPasteJSON (sendItem)="receiveFromClipboard($event)"></btnPasteJSON>
      <button *ngIf="course._id" (click)="setMakeNew()" class="btn-create-new">
        ¿Create new?
      </button>

      <h4
        *ngIf="makeNew && !course._id"
        class="badge-tech creating-new-message"
      >
        Creating new course from JSON
      </h4>
    </div>

    <Alert *ngIf="error" [message]="error" [type]="error"> </Alert>

    <form
      class="common-form"
      style="flex-direction: revert"
      #addCourseForm="ngForm"
    >
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            id="coursename"
            name="coursename"
            placeholder="Enter name here"
            [(ngModel)]="course.name"
            #name="ngModel"
            required
          />

          <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
            <p *ngIf="name.errors.required">Name is required</p>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Url</mat-label>
          <input
            matInput
            type="text"
            id="courseurl"
            name="courseurl"
            placeholder="Enter Url here if one"
            [(ngModel)]="course.url"
          />
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-slide-toggle
          color="accent"
          [checked]="course.done"
          name="courseDone"
          id="courseDone"
          [(ngModel)]="course.done"
          #done="ngModel"
        >
          ¿Finished?
        </mat-slide-toggle>
      </div>

      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Platform</mat-label>
          <input
            matInput
            type="text"
            id="courseplatform"
            name="courseplatform"
            placeholder="Enter platform here"
            [(ngModel)]="course.platform"
            #platform="ngModel"
            required
          />

          <mat-error
            *ngIf="platform.invalid && (platform.dirty || platform.touched)"
          >
            <p *ngIf="platform.errors.required">Platform is required</p>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Language</mat-label>
          <input
            matInput
            type="text"
            id="courselanguage"
            name="courselanguage"
            placeholder="Enter language here"
            [(ngModel)]="course.language"
            #language="ngModel"
            required
          />

          <mat-error
            *ngIf="language.invalid && (language.dirty || language.touched)"
          >
            <p *ngIf="language.errors.required">Language is required</p>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Duration (min)</mat-label>
          <input
            matInput
            type="number"
            pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$"
            id="courseduration"
            name="courseduration"
            [(ngModel)]="course.duration"
            #duration="ngModel"
            required
          />

          <mat-error
            *ngIf="duration.invalid && (duration.dirty || duration.touched)"
          >
            <p *ngIf="duration.errors.required">Duration is required</p>
            <p *ngIf="duration.errors.pattern">
              Duration has to be greater than 0!
            </p>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            type="text"
            id="profiledescription"
            name="profiledescription"
            placeholder="Enter description here"
            [(ngModel)]="course.description"
            #description="ngModel"
            required
          ></textarea>

          <mat-error
            *ngIf="
              description.invalid && (description.dirty || description.touched)
            "
          >
            <p *ngIf="description.errors.required">Description is required</p>
          </mat-error>
        </mat-form-field>
      </div>
    </form>

    <p style="text-align: center">
      <button (click)="seeAddTechForm = true" class="btn success-btn">
        Add Tech
      </button>
    </p>

    <div *ngIf="seeAddTechForm" class="see-add-skill-form">
      <div class="rowflex">
        <mat-form-field appearance="outline">
          <mat-label>Tech</mat-label>
          <mat-select
            class="custom-select"
            [(ngModel)]="selectedTechID"
            name="selectedSkillID"
            required
          >
            <mat-option class="tech-desktop" value="-1">Select tech</mat-option>
            <mat-option
              *ngFor="let tech of filterTechs()"
              [value]="tech._id"
              [ngClass]="'tech-' + tech.type"
              style="color: white"
            >
              {{ tech.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button
        (click)="addTech()"
        class="btn success-btn"
        [disabled]="selectedTechID === '-1'"
      >
        +
      </button>
    </div>

    <br />

    <h3 *ngIf="course.techs.length > 0" style="text-align: center">
      Course techs
    </h3>
    <div *ngIf="course.techs.length > 0" class="rowflex">
      <div
        *ngFor="let tech of course.techs"
        style="margin-right: 5px; margin-bottom: 10px"
      >
        <span class="badge-tech" [ngClass]="'tech-' + tech.type">
          {{ tech.name }}
          <span (click)="deleteTech(tech._id)" class="span-close-danger">
            x
          </span>
        </span>
      </div>
    </div>
    <div class="rowflex">
      <button
        class="btn success-btn"
        [disabled]="addCourseForm.invalid || course.techs.length == 0"
        (click)="saveCourse()"
      >
        Save
      </button>
    </div>
  </mat-card-content>
</mat-card>
