@import "./variables.scss";

/* Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.5em 1.5em;
  margin: 0px !important;
}

.bg-primary {
  background-color: $primaryColor;
  color: white;
}
.bg-accent {
  background-color: $accentColor;
  color: rgb(37, 37, 37);
}

/* CSS classes generation */
// Tech styles
@each $key, $color in $typesColors {
  .tech-#{$key} {
    color: white;
    background-color: $color !important;
  }
}

/* Angular material overrides */
.mat-card-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.mat-card-content {
  padding: 10px;
}
.mat-list-item {
  height: min-content !important;
}
.mat-drawer-container {
  height: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

// Buttons
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.grey-btn {
  background-color: $lightGrey;
  color: rgb(37, 37, 37);

  &:hover {
    background-color: rgba(37, 37, 37, 0.45);
  }
}

.success-btn {
  background-color: $successColor;
  color: white;

  &:hover {
    background-color: rgb(59, 157, 35);
  }
}

.accent-btn {
  background-color: $accentColor;
  color: rgb(37, 37, 37);

  &:hover {
    background-color: #dfa907;
  }
}

.rowflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 7px;
}
.columnflex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 7px;
}

.hr-separator {
  margin-top: 10px;
  background: $primaryColor;
  height: 5px;
}

.btn-copy-json {
  margin-top: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-delete-item {
  float: right;
  margin-top: 7px;
  cursor: pointer;
}

/* App */
.router-outlet-container {
  margin: 10vh 0px;
}

/* Login */
.card-form {
  width: 80vw;
  margin: 2rem auto;
  padding: 0px !important;
  margin-bottom: 150px;
}

.common-form {
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact-admin-text {
  text-align: center;

  small {
    margin: 10px 0;
  }
}

/* Nav */
#toolbar {
  position: fixed;
  top: 0;
  z-index: 1;

  .logo-span {
    img {
      width: 40px;
      height: 40px;
      padding: 0;
      margin-right: 10px;
    }
  }
}
.example-sidenav {
  min-width: 60vw;
  background: $accentColor;
  z-index: 2;
}
.active {
  .mat-line {
    color: $primaryColor;
    width: min-content;
    border-bottom: 0.5px solid $primaryColor;
  }
}

/* Root */
.full-card-form {
  max-width: 90vw;
  min-width: 70vw;
  width: max-content;
  margin: 2rem auto;
  padding: 0px !important;
  text-align: center;
}

.type-display-item {
  padding: 10px;

  div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 5px;
  }
}

.tech-item {
  img {
    width: 23px;
    height: 23px;
    margin-right: 5px;
  }
}

.course-item {
  background: black;
  width: fit-content;

  img {
    width: 20px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 5px;
  }

  span {
    max-width: 50vw;
  }
}

.project-item {
  overflow: hidden;
  padding: 0 !important;
  padding-right: 10px !important;

  div {
    padding: 0;

    img {
      width: 100px;
      height: 100px;
      margin-right: 10px;
      object-fit: cover;
    }

    .pinned-icon {
      width: 23px;
      height: 23px;
      margin-left: 3px;
    }
  }
}

/* Add tech */
.custom-select {
  width: min-content !important;
  option {
    color: white;
  }
}

.width80 {
  width: 85vw !important;
  margin: 10px auto !important;
}

.badge-tech {
  color: white;
  border-radius: 12px;
  min-width: max-content;
  width: fit-content;
  padding: 5px;
  margin: 5px 2px;
  cursor: pointer;
}

pre {
  overflow: auto;
  max-width: 100%;
}

.preStyle {
  margin: 10px;
  background-color: darkslategray;
  color: $lightGrey;
  text-align: left;
}

.focusDiv {
  margin: 5px !important;
  border: 5px solid red !important;
  border-radius: 8px !important;
}

.formTitle {
  padding: 10px 15px;
  margin: 0;
}

.lottie-container {
  width: fit-content;
  margin: 0 auto;
}

.padding-content {
  padding: 15px !important;
}

.project-ops {
  width: 80%;
  flex-direction: column;
  margin: 50px auto;
}

/* Media queries */
@media (min-width: 576px) {
  .example-sidenav {
    min-width: 40vw;
  }
  .card-form {
    width: 60vw;
  }
  .logo-span {
    img {
      width: inherit;
      height: inherit;
      padding: 15px;
      margin-right: 0;
    }
  }

  .full-card-form {
    min-width: 60vw;
  }

  .padding-content {
    padding: 3em !important;
  }
  .project-ops {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .example-sidenav {
    min-width: 10vw;
  }

  .card-form {
    width: 40vw;
  }

  .full-card-form {
    min-width: 40vw;
  }
}
