$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-amber);
$warn: mat-palette($mat-red);

$my-theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);
