<div class="lottie-container">
  <ng-lottie width="300px" height="200px" [options]="options"> </ng-lottie>
</div>

<mat-card class="card-form" style="width: 90vw">
  <mat-card-header class="bg-primary">
    <h1>{{ project._id ? "Edit" : "Add" }} project</h1>
  </mat-card-header>
  <mat-card-content>
    <div style="height: 50px">
      <btnPasteJSON (sendItem)="receiveFromClipboard($event)"></btnPasteJSON>
      <button *ngIf="project._id" (click)="setMakeNew()" class="btn-create-new">
        ¿Create new?
      </button>

      <h4
        *ngIf="makeNew && !project._id"
        class="badge-tech creating-new-message"
      >
        Creating new project from JSON
      </h4>
    </div>

    <Alert *ngIf="error" [message]="error" [type]="error"> </Alert>

    <form
      class="common-form"
      style="flex-direction: revert"
      #addProjectForm="ngForm"
    >
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            id="projectname"
            name="projectname"
            placeholder="Enter name here"
            [(ngModel)]="project.name"
            #name="ngModel"
            required
          />

          <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
            <p *ngIf="name.errors.required">Name is required</p>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select
            name="techType"
            class="custom-select"
            [(ngModel)]="project.type"
            #type="ngModel"
            required
          >
            <mat-option
              *ngFor="let t of types"
              class="item"
              [value]="t"
              [ngClass]="'tech-' + t"
              style="color: white"
            >
              {{ t | onlyFirstLetterUpper }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="type.invalid && (type.dirty || type.touched)">
            <p *ngIf="type.errors.required">Type is required</p>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            type="text"
            id="profiledescription"
            name="profiledescription"
            placeholder="Enter description here"
            [(ngModel)]="project.description"
            #description="ngModel"
            required
          ></textarea>

          <mat-error
            *ngIf="
              description.invalid && (description.dirty || description.touched)
            "
          >
            <p *ngIf="description.errors.required">Description is required</p>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Url</mat-label>
          <input
            matInput
            type="text"
            id="projecturl"
            name="projecturl"
            placeholder="Enter Url here"
            [(ngModel)]="project.url"
          />
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Repo Url</mat-label>
          <input
            matInput
            type="text"
            id="projectRepoUrl"
            name="projectRepoUrl"
            placeholder="Enter Repository Url if one"
            [(ngModel)]="project.repo_url"
          />
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-slide-toggle
          color="accent"
          [checked]="project.pinned"
          name="projectDone"
          id="projectDone"
          [(ngModel)]="project.pinned"
          #done="ngModel"
        >
          ¿Pinned?
        </mat-slide-toggle>
      </div>
    </form>

    <div class="columnflex">
      <!-- Add tech for project.techs -->
      <div>
        <p style="text-align: center">
          <button
            *ngIf="!seeAddTechForm"
            (click)="seeAddTechForm = true"
            class="btn success-btn"
          >
            Add Tech
          </button>
        </p>

        <div *ngIf="seeAddTechForm" class="see-add-skill-form">
          <div class="rowflex">
            <mat-form-field appearance="outline">
              <mat-label>Tech</mat-label>
              <mat-select
                class="custom-select"
                [(ngModel)]="selectedTechID"
                name="selectedSkillID"
                required
              >
                <mat-option class="tech-desktop" value="-1"
                  >Select tech</mat-option
                >
                <mat-option
                  *ngFor="let tech of filterTechs()"
                  [value]="tech._id"
                  [ngClass]="'tech-' + tech.type"
                  style="color: white"
                >
                  {{ tech.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button
              (click)="addTech()"
              class="btn success-btn"
              [disabled]="selectedTechID == '-1'"
            >
              +
            </button>
          </div>
        </div>
      </div>
      <!-- Add images for project.images -->
      <div>
        <p style="text-align: center">
          <button
            *ngIf="!seeAddImageForm"
            (click)="seeAddImageForm = true"
            class="btn success-btn"
          >
            Add Image
          </button>
        </p>

        <div *ngIf="seeAddImageForm" class="see-add-skill-form">
          <div class="rowflex">
            <mat-form-field appearance="outline">
              <input
                matInput
                type="text"
                placeholder="Enter image url here"
                [(ngModel)]="newImageUrl"
                name="selectedTechID"
                required
              />
            </mat-form-field>

            <button
              (click)="addImage()"
              class="btn success-btn"
              [disabled]="!newImageUrl"
            >
              +
            </button>
          </div>
        </div>
      </div>

      <!-- Add files for project.files -->
      <div>
        <p style="text-align: center">
          <button
            *ngIf="!seeAddFileForm"
            (click)="seeAddFileForm = true"
            class="btn success-btn"
          >
            Add File
          </button>
        </p>

        <div *ngIf="seeAddFileForm" class="see-add-skill-form">
          <div class="rowflex">
            <mat-form-field appearance="outline">
              <input
                matInput
                type="text"
                [(ngModel)]="newFileUrl"
                placeholder="Enter file url here"
                name="selectedTechID"
                required
              />
            </mat-form-field>

            <button
              (click)="addFile()"
              class="btn success-btn"
              [disabled]="!newFileUrl"
            >
              +
            </button>
          </div>
        </div>
      </div>
    </div>

    <br />
    <h3 *ngIf="project.techs.length > 0" style="text-align: center">
      Project techs
    </h3>
    <div *ngIf="project.techs.length > 0" class="rowflex">
      <div
        *ngFor="let tech of project.techs"
        style="margin-right: 5px; margin-bottom: 10px"
      >
        <span class="badge-tech" [ngClass]="'tech-' + tech.type">
          {{ tech.name }}
          <span (click)="deleteTech(tech._id)" class="span-close-danger"
            >x</span
          >
        </span>
      </div>
    </div>

    <h3 *ngIf="project.images.length > 0" style="text-align: center">Images</h3>
    <div *ngIf="project.images.length > 0" class="rowflex">
      <div *ngFor="let image of project.images" class="project-item">
        <img class="thumbnail" [src]="image" />
        <span class="link-clamp">
          {{ image }}
        </span>
        <span (click)="deleteImage(image)" class="span-close-danger">x</span>
      </div>
    </div>

    <h3 *ngIf="project.files.length > 0" style="text-align: center">Files</h3>
    <div *ngIf="project.files.length > 0" class="rowflex">
      <div *ngFor="let file of project.files" class="project-item">
        <img width="30" src="assets/images/file.png" />
        <span class="link-clamp">{{ file }}</span>
        <span (click)="deleteFile(file)" class="span-close-danger">x</span>
      </div>
    </div>
    <div class="rowflex">
      <button
        class="btn success-btn"
        [disabled]="addProjectForm.invalid || project.techs.length == 0"
        (click)="saveProject()"
      >
        Save
      </button>
    </div>
  </mat-card-content>
</mat-card>
