<div class="lottie-container">
  <ng-lottie width="300px" height="200px" [options]="options"> </ng-lottie>
</div>

<mat-card class="card-form">
  <mat-card-header class="bg-primary">
    <h1>{{ profile._id ? "Edit" : "Add" }} profile</h1>
  </mat-card-header>

  <Alert *ngIf="error" type="error" [message]="error"> </Alert>

  <mat-card-content>
    <form
      class="common-form"
      #addProfileForm="ngForm"
      style="flex-direction: revert"
    >
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Intro</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            type="text"
            id="profileintro"
            name="profileintro"
            placeholder="Enter intro here"
            [(ngModel)]="profile.intro"
            #intro="ngModel"
            required
          ></textarea>

          <mat-error *ngIf="intro.invalid && (intro.dirty || intro.touched)">
            <p *ngIf="intro.errors.required">Intro is required</p>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Text</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            type="text"
            id="profileText"
            name="profileText"
            placeholder="Enter About text here"
            [(ngModel)]="profile.about.text"
            #text="ngModel"
            required
          ></textarea>

          <mat-error
            *ngIf="text.invalid && (text.dirty || text.touched)"
            class="alert-danger"
          >
            <p *ngIf="text.errors.required">Text is required</p>
          </mat-error>
        </mat-form-field>
      </div>
    </form>

    <p style="text-align: center">
      <button
        *ngIf="!seeAddSkillForm"
        (click)="seeAddSkillForm = true"
        class="btn success-btn"
      >
        Add skill
      </button>
    </p>

    <div *ngIf="seeAddSkillForm" class="see-add-skill-form">
      <div class="rowflex">
        <mat-form-field appearance="outline">
          <mat-label>Tech</mat-label>
          <mat-select
            class="custom-select"
            [(ngModel)]="selectedSkillID"
            name="selectedSkillID"
            required
          >
            <mat-option class="tech-desktop" value="-1">Select tech</mat-option>
            <mat-option
              *ngFor="let tech of filterTechs()"
              [value]="tech._id"
              [ngClass]="'tech-' + tech.type"
              style="color: white"
            >
              {{ tech.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Percentage</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="selectedPercentage"
            name="selectedPercentage"
            max="100"
            min="0"
            required
          />
        </mat-form-field>
      </div>
      <button
        (click)="addSkill()"
        class="btn success-btn"
        [disabled]="
          selectedSkillID == '-1' ||
          selectedPercentage <= 0 ||
          selectedPercentage > 100
        "
      >
        +
      </button>
    </div>

    <br />
    <h3 *ngIf="profile.about.skills.length > 0" class="header">
      Skills & Percentage
    </h3>
    <div *ngIf="profile.about.skills.length > 0" class="rowflex">
      <div
        *ngFor="let skill of profile.about.skills"
        style="margin-right: 5px; margin-bottom: 10px"
      >
        <span
          class="badge-tech badge-tech-with-percentage"
          [ngClass]="'tech-' + skill.tech.type"
        >
          <img [src]="skill.tech.icon" alt="icon" />
          <span>
            <span
              >{{ skill.tech.name }} &nbsp;
              <small>{{ skill.percentage }}%</small>
            </span>
            <div class="percentage-track">
              <div
                class="percentage-progress"
                [style.width]="skill.percentage ? skill.percentage + '%' : '0%'"
              ></div>
            </div>
          </span>
          <div (click)="deleteSkill(skill._id)" class="span-close-danger">
            x
          </div>
        </span>
      </div>
    </div>
  </mat-card-content>
  <div class="rowflex">
    <button
      class="btn success-btn"
      [disabled]="addProfileForm.invalid || profile.about.skills.length == 0"
      (click)="saveProfile()"
    >
      Save
    </button>
  </div>
</mat-card>
