<div class="ui secondary pointing menu">
    <div *ngIf="identity" class="rowflex" style="width: fit-content;">
      <a class="item" routerLink="/home" routerLinkActive="active">
        Home
      </a>
      <a *ngIf="identity.role == 1" class="item" routerLink="/add-tech"  routerLinkActive="active">
        + Tech
      </a>
      <a routerLink="/add-profile" class="item" routerLinkActive="active">
          + Profile
      </a>
      <a routerLink="/add-course" class="item"  routerLinkActive="active">
        + Course
      </a>
      <a routerLink="/add-project" class="item"  routerLinkActive="active">
        + Project
      </a>
    </div>
    <div class="right menu">
      <div class="rowflex" style="width: fit-content;height: fit-content;">
        <a *ngIf="identity" class="ui item">
          {{identity.nickname}}
        </a>
        <a *ngIf="identity" class="ui item" (click)="doLogout()">
          Logout
        </a>
        <a *ngIf="!identity" routerLink="/login" class="ui item"  routerLinkActive="active">
          Log In
        </a>
        <a *ngIf="!identity" routerLink="/register" class="ui item" routerLinkActive="active">
          Register
        </a>
      </div>
    </div>
  </div>
