<div class="ui secondary pointing menu">
    <a class="item" routerLink="/home" routerLinkActive="active">
      Home
    </a>
    <a class="item" routerLink="/add-tech"  routerLinkActive="active">
      + Tech
    </a>
    <a routerLink="/add-profile" class="item" routerLinkActive="active">
        + Profile
    </a>
    <a routerLink="/add-course" class="item"  routerLinkActive="active">
      + Course
    </a>
    <a routerLink="/add-project" class="item"  routerLinkActive="active">
      + Project
    </a>
  <!--  <div class="right menu">
      <a class="ui item">
        Logout
      </a>
    </div> --> 
  </div>
