.width80{
    width : 85vw !important;
    margin : 10px auto !important;
}

.alert-danger{
    text-align: center;
    padding: 10px;
    background-color: rgb(245, 75, 75);
    color : white;
}

.alert-success{
    text-align: center;
    padding: 10px;
    background-color: rgb(64, 177, 36);
    color : white;
}

.rowflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.badge-tech{
    color : white;
    border-radius : 12px;
    min-width: max-content;
    width: fit-content;
    padding: 5px;
    margin: 5px 2px;
}

pre {
    overflow: auto;
    max-width: 100%;
  }

  .preStyle{
    margin: 10px;
    background-color: darkslategray;
    color: grey;
  }

  .contentPadded{
      padding: 10px;
      font-size: 20px;
      font-weight: bold;
      font-style: oblique;
  }

  .focusDiv{
      margin: 5px !important;
      border: 5px solid red!important;
      border-radius: 8px !important;
  }

  .formTitle{
    padding: 10px 15px;
    margin: 0;
  }

  .lottie-container{
    width:fit-content;
    margin: 0 auto;
  }

  .padding-content{
      padding : 15px !important;
  }

  @media(min-width: 576px){
      .padding-content{
          padding: 3em !important;
      }
  }