<div *ngIf="error" class="content">
    <h4 class="alert-danger">{{error}}</h4>
</div>
<div *ngIf="seePassConfirmation" class="ui raised very padded text container segment focusDiv">
    <h3 class="ui header">Enter omarpv private password</h3>
    <input type="password" [(ngModel)]="password">
    <button (click)="deleteItem( this.itemToDelete )" class="ui button">
        Verify
    </button>
</div>

<!-- TECHS -->
<div class="ui raised very padded text container segment">
    <h2 class="ui header">Technologies</h2>
    <p>Several technologies to append to projects and profile</p>
    <div class="ui buttons">
        <button *ngIf="!seeTech" class="ui button" (click)="seeTech = true">See</button>
        <button *ngIf="seeTech" class="ui button" (click)="hideTech()">Hide</button>
        <div class="or"></div>
        <button class="ui positive button" routerLink="/add-tech">Add new</button>
    </div>

    <ng-container *ngIf="seeTech">
        <div *ngIf="Techs$ | obsWithStatus | async as techs" class="rowflex">
            <ng-template [ngIf]="techs.value">
                <div *ngFor="let t of techs.value" class="badge-tech" [style.background]="setColor(t.type)"
                    [style.display]="itemsDeleted.includes(t._id) ? 'none' : 'block'">
                    <div (click)="techDisplayed = t" class="rowflex">
                        <img [src]="t.icon" [alt]="t.name" style="width: 23px;height: 23px;margin-right: 5px;" />
                        {{ t.name }}
                    </div>
                </div>
            </ng-template>

            <ng-template [ngIf]="techs.loading">
                <div class="contentPadded">Loading ...</div>
            </ng-template>

            <ng-template [ngIf]="!techs.loading && techs.value.length == 0">
                <div class="contentPadded">No techs yet</div>
            </ng-template>
        </div>
    </ng-container>

    <!-- Tech displayed -->
    <div *ngIf="techDisplayed" style="margin: 10px;background-color: darkslategray;color: grey;">
        <button ngxClipboard [cbContent]=" stringify(techDisplayed) ">Copy JSON</button>
        <span (click)="seePrivatePassConfirmation( techDisplayed  )" class="alert-danger" style="float:right;">X</span>
        <pre>
            <code> {{ techDisplayed | json}} </code>
        </pre>

    </div>

</div>


<!-- PROFILE -->
<div class="ui raised very padded text container segment">
    <h2 class="ui header">Profile</h2>
    <p>Profile for landing page</p>
    <div class="ui buttons">
        <button *ngIf="!seeProfile" (click)="seeProfile = true" class="ui button">See</button>
        <button *ngIf="seeProfile" (click)="seeProfile = false" class="ui button">Hide</button>
    </div>

    <ng-container *ngIf="seeProfile">
        <div *ngIf="Profile$ | obsWithStatus |  async as profile">

            <ng-template [ngIf]="profile.value">
                <pre class="preStyle">
                        <code>{{ profile.value | json }}</code>
                </pre>

                <button [routerLink]="['/add-profile']" [state]="profile.value" class="ui positive button"
                    style="float: left;">Add
                    new from this base</button>
            </ng-template>

            <ng-template [ngIf]="profile.loading">
                <div class="contentPadded">Loading ...</div>
            </ng-template>

            <ng-template [ngIf]="!profile.loading && !profile.value">
                <div class="contentPadded">No profile yet</div>
                <button [routerLink]="['/add-profile']" class="ui positive button">Add new</button>
            </ng-template>

        </div>

    </ng-container>

</div>

<!-- COURSES -->
<div class="ui raised very padded text container segment">
    <h2 class="ui header">Courses</h2>
    <p>Several courses done or in progress</p>
    <div class="ui buttons">
        <button *ngIf="!seeCourse" class="ui button" (click)="seeCourse = true">See</button>
        <button *ngIf="seeCourse" class="ui button" (click)="hideCourse()">Hide</button>
        <div class="or"></div>
        <button class="ui positive button" routerLink="/add-course">Add new</button>
    </div>

    <ng-container *ngIf="seeCourse">
        <div *ngIf="Courses$ | obsWithStatus | async as courses" class="rowflex">
            <ng-template [ngIf]="courses.value">
                <div *ngFor="let c of courses.value" class="badge-tech" style="background: black;"
                    [style.display]="itemsDeleted.includes(c._id) ? 'none' : 'block'">
                    <div (click)="courseDisplayed = c" class="rowflex">
                        {{c.platform | uppercase}} - {{ c.name }} : {{ (c.duration/60).toFixed(2) }} h
                    </div>
                </div>
            </ng-template>


            <ng-template [ngIf]="courses.loading">
                <div class="contentPadded">Loading ...</div>
            </ng-template>

            <ng-template [ngIf]="!courses.loading && courses.value.length == 0">
                <div class="contentPadded">No courses yet</div>
            </ng-template>
        </div>
    </ng-container>


    <!-- Course displayed -->
    <div *ngIf="courseDisplayed" style="margin: 10px;background-color: darkslategray;color: grey;">
        <button ngxClipboard [cbContent]=" stringify(courseDisplayed) ">Copy JSON</button>
        <span (click)="seePrivatePassConfirmation( courseDisplayed )" class="alert-danger" style="float:right;">X</span>
        <pre>
            <code> {{ courseDisplayed | json}} </code>
        </pre>

    </div>

</div>



<!-- PROJECTS -->
<div class="ui raised very padded text container segment">
    <h2 class="ui header">Projects</h2>
    <p>Projects that I have developed</p>
    <div class="ui buttons">
        <button *ngIf="!seeProject" class="ui button" (click)="seeProject = true">See</button>
        <button *ngIf="seeProject" class="ui button" (click)="hideProject()">Hide</button>
        <div class="or"></div>
        <button class="ui positive button" routerLink="/add-project">Add new</button>
    </div>

    <ng-container *ngIf="seeProject">
        <div *ngIf="Projects$ | obsWithStatus | async as projects" class="rowflex">
            <ng-template [ngIf]="projects.value">
                <div *ngFor="let p of projects.value" class="badge-tech" [style.background]="setColor(p.type)"
                    [style.display]="itemsDeleted.includes(p._id) ? 'none' : 'block'">
                    <div (click)="projectDisplayed = p" class="rowflex">
                        {{p.name}} - {{p.type | uppercase}}
                        <img *ngIf="p.pinned" src="https://icon-icons.com/icons2/153/PNG/32/star_favourite_21830.png" alt="pinned" style="width: 23px;height: 23px;margin-left: 3px;">
                    </div>
                </div>
            </ng-template>

            <ng-template [ngIf]="projects.loading">
                <div class="contentPadded">Loading ...</div>
            </ng-template>

            <ng-template [ngIf]="!projects.loading && projects.value.length == 0">
                <div class="contentPadded">No projects yet</div>
            </ng-template>
        </div>
    </ng-container>


    <!-- Project displayed -->
    <div *ngIf="projectDisplayed" class="preStyle">
        <button ngxClipboard [cbContent]=" stringify(projectDisplayed) ">Copy JSON</button>

        <span (click)="seePrivatePassConfirmation( projectDisplayed )" class="alert-danger"
            style="float:right;">X</span>
        <pre>
            <code> {{ projectDisplayed | json}} </code>
        </pre>

    </div>

</div>