<div *ngIf="error" class="content">
  <h4 class="alert-danger">{{ error }}</h4>
</div>

<div class="lottie-container">
  <ng-lottie width="300px" height="200px" [options]="options"> </ng-lottie>
</div>

<!-- Types display -->
<div class="rowflex">
  <span *ngFor="let type of types" class="columnflex type-display-item">
    <div [ngClass]="'tech-' + type"></div>
    {{ type[0].toUpperCase() + type.substr(1) }}
  </span>
</div>

<!-- TECHS -->
<mat-card class="full-card-form" [style.width]="seeTech ? '90vw' : ''">
  <mat-card-header class="bg-primary">
    <h2>Technologies</h2>
  </mat-card-header>
  <mat-card-content>
    <h3>Several technologies to append to projects, courses and profile</h3>
    <div class="rowflex">
      <button *ngIf="!seeTech" class="btn grey-btn" (click)="seeTech = true">
        See
      </button>
      <button *ngIf="seeTech" class="btn grey-btn" (click)="hideTech()">
        Hide
      </button>
      <div *ngIf="identity.role == 1" class="or"></div>
      <button
        *ngIf="identity.role == 1"
        class="btn accent-btn"
        routerLink="/add-tech"
      >
        Add new / Edit
      </button>
    </div>

    <ng-container *ngIf="seeTech">
      <div *ngIf="Techs$ | obsWithStatus | async as techs" class="rowflex">
        <ng-template [ngIf]="techs.value">
          <div
            *ngFor="let t of techs.value"
            class="badge-tech tech-item"
            [ngClass]="'tech-' + t.type"
            [style.display]="itemsDeleted.includes(t._id) ? 'none' : 'block'"
          >
            <div (click)="techDisplayed = t" class="rowflex">
              <img [src]="t.icon" [alt]="t.name" />
              {{ t.name }}
            </div>
          </div>
        </ng-template>

        <ng-template [ngIf]="techs.loading">
          <Loader></Loader>
        </ng-template>

        <ng-template [ngIf]="!techs.loading && techs.value.length == 0">
          <div class="contentPadded">No techs yet</div>
        </ng-template>
      </div>
    </ng-container>

    <!-- Tech displayed -->
    <div *ngIf="techDisplayed" class="preStyle">
      <btnCopyJSON [cbContent]="stringify(techDisplayed)"> </btnCopyJSON>
      <span
        *ngIf="identity.role == 1"
        (click)="seeDeleteConfirmation(techDisplayed)"
        class="btn-delete-item"
      >
        <ng-lottie width="35px" height="20px" [options]="optionsDelete">
        </ng-lottie>
      </span>
      <pre>
            <code> {{ techDisplayed | json}} </code>
        </pre>
    </div>
  </mat-card-content>
</mat-card>

<!-- PROFILE -->
<mat-card class="full-card-form" [style.width]="seeProfile ? '90vw' : ''">
  <mat-card-header class="bg-primary">
    <h2>Profile</h2>
  </mat-card-header>
  <mat-card-content>
    <h3>Profile for landing page</h3>
    <div class="rowflex">
      <button
        *ngIf="!seeProfile"
        (click)="seeProfile = true"
        class="btn grey-btn"
      >
        See
      </button>
      <button
        *ngIf="seeProfile"
        (click)="seeProfile = false"
        class="btn grey-btn"
      >
        Hide
      </button>
    </div>

    <ng-container *ngIf="seeProfile">
      <div *ngIf="Profile$ | obsWithStatus | async as profile">
        <ng-template [ngIf]="profile.value">
          <pre class="preStyle">
              <code>{{ profile.value | json }}</code>
          </pre>

          <button
            [routerLink]="['/add-profile']"
            [state]="profile.value"
            class="btn accent-btn"
          >
            Add new from this base
          </button>
        </ng-template>

        <ng-template [ngIf]="profile.loading">
          <Loader></Loader>
        </ng-template>

        <ng-template [ngIf]="!profile.loading && !profile.value">
          <div>No profile yet</div>
          <button [routerLink]="['/add-profile']" class="btn accent-btn">
            Add new
          </button>
        </ng-template>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>

<!-- COURSES -->
<mat-card class="full-card-form" [style.width]="seeCourse ? '90vw' : ''">
  <mat-card-header class="bg-primary">
    <h2>Courses</h2>
  </mat-card-header>

  <mat-card-content>
    <h3>Several courses done or in progress</h3>
    <div class="rowflex">
      <button
        *ngIf="!seeCourse"
        class="btn grey-btn"
        (click)="seeCourse = true"
      >
        See
      </button>
      <button *ngIf="seeCourse" class="btn grey-btn" (click)="hideCourse()">
        Hide
      </button>
      <div class="or"></div>
      <button class="btn accent-btn" routerLink="/add-course">
        Add new / Edit
      </button>
    </div>

    <ng-container *ngIf="seeCourse">
      <div *ngIf="Courses$ | obsWithStatus | async as courses" class="rowflex">
        <ng-template [ngIf]="courses.value">
          <div
            *ngFor="let c of courses.value"
            class="badge-tech course-item"
            [style.display]="itemsDeleted.includes(c._id) ? 'none' : 'block'"
          >
            <div (click)="courseDisplayed = c" class="rowflex">
              <img [src]="platformLogoUrl(c.platform)" alt="Platform" />
              <span> {{ c.name }} : {{ (c.duration / 60).toFixed(2) }} h </span>
            </div>
          </div>
        </ng-template>

        <ng-template [ngIf]="courses.loading">
          <Loader></Loader>
        </ng-template>

        <ng-template [ngIf]="!courses.loading && courses.value.length == 0">
          <div>No courses yet</div>
        </ng-template>
      </div>
    </ng-container>

    <!-- Course displayed -->
    <div *ngIf="courseDisplayed" class="preStyle">
      <btnCopyJSON [cbContent]="stringify(courseDisplayed)"> </btnCopyJSON>
      <span
        (click)="seeDeleteConfirmation(courseDisplayed)"
        class="btn-delete-item"
      >
        <ng-lottie width="35px" height="20px" [options]="optionsDelete">
        </ng-lottie>
      </span>
      <pre>
            <code> {{ courseDisplayed | json}} </code>
        </pre>
    </div>
  </mat-card-content>
</mat-card>

<!-- PROJECTS -->
<mat-card class="full-card-form" [style.width]="seeProject ? '90vw' : ''">
  <mat-card-header class="bg-primary">
    <h2>Projects</h2>
  </mat-card-header>

  <mat-card-content>
    <h3>Projects that I have developed</h3>
    <div class="rowflex">
      <button
        *ngIf="!seeProject"
        class="btn grey-btn"
        (click)="seeProject = true"
      >
        See
      </button>
      <button *ngIf="seeProject" class="btn grey-btn" (click)="hideProject()">
        Hide
      </button>
      <div class="or"></div>
      <button class="btn accent-btn" routerLink="/add-project">
        Add new / Edit
      </button>
    </div>

    <ng-container *ngIf="seeProject">
      <div
        *ngIf="Projects$ | obsWithStatus | async as projects"
        class="rowflex"
      >
        <ng-template [ngIf]="projects.value">
          <div
            *ngFor="let p of projects.value"
            class="badge-tech project-card"
            [ngClass]="'tech-' + p.type"
            [style.display]="itemsDeleted.includes(p._id) ? 'none' : 'block'"
          >
            <div (click)="projectDisplayed = p" class="rowflex">
              <img
                *ngIf="p.images.length"
                [src]="p.images[0]"
                alt="thumbnail"
              />
              <img
                *ngIf="!p.images.length"
                src="https://res.cloudinary.com/omarpvcloud/image/upload/v1623867084/Projects/api-node-portfolio/restdefaultImg_ilfd8v.png"
                alt="thumbnail"
              />
              <span>
                {{ p.name }}
              </span>
              <img
                class="pinned-icon"
                *ngIf="p.pinned"
                src="assets/images/star_fav.png"
                alt="fav"
              />
            </div>
          </div>
        </ng-template>

        <ng-template [ngIf]="projects.loading">
          <Loader></Loader>>
        </ng-template>

        <ng-template [ngIf]="!projects.loading && projects.value.length == 0">
          <div>No projects yet</div>
        </ng-template>
      </div>
    </ng-container>

    <!-- Project displayed -->
    <div *ngIf="projectDisplayed" class="preStyle">
      <btnCopyJSON [cbContent]="stringify(projectDisplayed)"> </btnCopyJSON>

      <span
        (click)="seeDeleteConfirmation(projectDisplayed)"
        class="alert-danger"
        class="btn-delete-item"
      >
        <ng-lottie width="35px" height="20px" [options]="optionsDelete">
        </ng-lottie>
      </span>
      <pre>
            <code> {{ projectDisplayed | json}} </code>
        </pre>
    </div>
  </mat-card-content>
</mat-card>
